/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- BODY -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
* {
  box-sizing: border-box;
}

body {
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "TS-Med";
  font-weight: bold;
}
h1 {
  font-size: 54px;
  line-height: 70px;
  margin-top: 100px;
}

.container {
  width: 1135px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 25px;
}

h4 {
  font-size: 18px;
  line-height: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
header img {
  width: 200px;
}

header .container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  margin-bottom: 30px;
  z-index: 6;
}
header nav ul {
  display: flex;
  gap: 20px;
  font-weight: bold;
  align-items: center;
}

header nav ul > li {
  display: flex;
  gap: 5px;
}

header nav button {
  color: white;
  background-color: black;
  height: 40px;
  border-radius: 20px;
  padding: 5px;
  font-family: TS-Reg;
  font-weight: bold;
}

header {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
main {
  margin-top: 20px;
}
h1 span {
  color: #ff5d5d;
}

.under-title {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.under-title a {
  color: #333333;
}

main nav ul {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

main nav ul li {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
  border-radius: 10px;
  line-height: 20px;
}

.hidden-li {
  display: none;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- PICTURES -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.pictures {
  display: flex;
  height: 430px;
  gap: 2px;
  margin-bottom: 20px;
}
.pictures .left-side {
  flex: 5;
}
.pictures .left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pictures > .right-side {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pictures > .right-side > img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
}
.browser {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.browser p {
  font-size: 12px;
  line-height: 16px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- ASIDE BLOCK -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.caption-map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 85px;
}
.description {
  width: 530px;
}
.appeal {
  font-size: 20px;
  line-height: 24px;
  color: #333333;
  font-family: Georgia;
}
.caption-map aside {
  width: 430px;
  height: 475px;
  background-color: #ff5d5d;
  border-radius: 10px;
}
.caption-map aside section {
  height: 60%;
  padding: 35px;
}
.paris {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  margin-bottom: 35px;
}
.caption-map aside button {
  margin-top: 30px;
  color: white;
  background-color: black;
  height: 55px;
  border-radius: 10px;
  padding: 5px;
  font-family: TS-Reg;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.caption-map aside button:hover {
  background-color: #4c1c1c;
}
.caption-map img {
  width: calc(100% + 1px);
  height: 40%;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
  position: relative;
  right: 1px;
}
/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- CARROUSEL -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.immanquable {
  display: flex;
  margin-bottom: 70px;
}

.immanquable aside {
  flex: 1;
  padding-right: 20px;
}

.immanquable aside p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  font-family: "Georgia";
}

.immanquable aside a {
  font-size: 16px;
  line-height: 18px;
  color: #545454;
}

.carrousel {
  flex: 3;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  scrollbar-width: none;
}

.carrousel article {
  flex-shrink: 0;
  padding-bottom: 10px;
  width: calc((100% / 3) - 10px);
}

.main-image > img:first-child {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.main-image {
  position: relative;
}

.heart,
.hibou {
  position: absolute;
  display: flex;
}

.heart {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
}

.hibou img {
  width: 30px;
}
.hibou span {
  font-weight: bold;
  font-size: 10px;
}
.hibou {
  background-color: #34e0a1;
  flex-direction: column;
  border-radius: 15px 15px 5px 5px;
  bottom: 10px;
  left: 10px;
  align-items: center;
}

.immanquable article p {
  font-size: 14px;
  line-height: 16.8px;
  color: #333333;
}

.rating {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.rating i {
  color: #04aa6c;
}

.rating span {
  margin-left: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GUIDE -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

.guide {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  justify-content: space-between;
  gap: 20px;
}
.guide article {
  flex: 1;
  flex-shrink: 0;
}
.guide article > img {
  width: 100%;
  height: 275px;
  object-fit: cover;
  margin-bottom: 5px;
}

.guide article p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
}
.guide div img {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.guide div {
  display: flex;
  align-items: center;
}

.guide div p {
  margin-left: 5px;
  margin-top: 2px;
}

.guide div span {
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

footer {
  min-height: 155px;
  background-color: #faf1ed;
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 40px;
    margin-right: 10px;
  }
  p {
    font-family: "TS-Med";
    font-size: 14px;
    line-height: 20px;
  }
  span {
    font-weight: bold;
  }
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- RESPONSIVE DESIGN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
@media (max-width: 1184px) {
  .container {
    width: 95vw;
  }

  main nav ul {
    flex-wrap: wrap;
  }
  main nav ul li {
    flex-grow: 0;
    height: auto;
    flex-basis: calc((100% / 4) - 10px); /* ou calc((100% - 30px) / 4)*/
    flex-shrink: 0;
  }
  .hidden-li {
    display: flex;
  }
}

@media (max-width: 1024px) {
  header p {
    display: none;
  }
  /* .caption-map {
  } */
}
